//to style accordion button
#accordion {
    padding: $grid-gutter/2;
    h2 {
        text-align: center;
        background-color: $nova-slim;
        padding: 1rem;
        width: 75%;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
        margin: 0 auto;
        &:link {}
        &:visited {}
        &:hover {
            color: #fff;
            background-color: darken($nova-slim, 20%);
            cursor: pointer;
        }
        &:active {
            background-color: darken($grassGreen, 20%);
        }
    }
    ul {
        margin: 1rem;
        padding: 0;
        width: 100%;
        margin: 0 auto;
        li {
            list-style: none;
            padding: $grid-gutter / 2;
            margin: $grid-gutter / 3;
            background-color: $yellowGreen;
        }
    }
    div {
        display: none;
        background-color: #fff;
        margin: 1rem;
        padding: 1rem;
        border-radius: 2rem;
        width: 75%;
        margin: 1rem auto;
    }
}

//styling for the welcome screen
.welcome-screen {
    display: block;
    #coin {
        img {
            display: block;
            margin: auto;
            width: 40%;
            height: 40%;
        }
    }
    h1 {
        font-size: 3em;
    }
}

//To style the game screen
.game-screen {
    display: none;
    #head-coin {
        display: inline-block;
        float: left;
        padding: 1em;
        width: 40%;
        height: 50%;
        img {
            display: block;
            margin: 0 auto;
            width: 35%;
            height: 35%;
        }
    }
    #tail-coin {
        display: inline-block;
        float: right;
        padding: 1em;
        width: 40%;
        height: 50%;
        img {
            display: block;
            margin: 0 auto;
            width: 35%;
            height: 35%;
        }
    }
}

//To style the end screen
.end-screen {
    display: none;
}
