h1 {
    text-align: center;
    color: $h1-color;
    font-size: $font-size-base * 2.5;
    margin: $grid-gutter/ 2;
    font-family: 'VT323', monospace;
}

h2 {
    font-size: $font-size-base * 2;
    margin: $grid-gutter / 2;
    font-family: 'Ranchers', cursive;
}